[submodule "samples/influx-writer/curl"]
	path = samples/influx-writer/curl
	url = https://github.com/curl/curl
[submodule "messaging/numrabw/rabbitmq-c"]
	path = messaging/numrabw/rabbitmq-c
	url = https://github.com/reunanen/rabbitmq-c
[submodule "messaging/numrabw/amqpcpp"]
	path = messaging/numrabw/amqpcpp
	url = https://github.com/reunanen/amqpcpp
[submodule "messaging/numrabw/crossguid"]
	path = messaging/numrabw/crossguid
	url = https://github.com/reunanen/crossguid
[submodule "messaging/numrabw/shared_buffer"]
	path = messaging/numrabw/shared_buffer
	url = https://github.com/reunanen/shared_buffer
